body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #1f4e79;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #1f4e79;
}

img {
    border: 2px solid #ddd;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1f4e79;
    color: white;
}